html {
    font-size: 13px;
    height: 100%;
	font-family: arial;
}

body {
    background: none repeat scroll 0 0 #FFFFFF;
    height: 100%;
    margin: 0px;
}

body,p,h1,h2,h3,ul,li{
    margin: 0px;
	padding:0px;
	list-style: none;
}

.container {
    background: none repeat scroll 0 0 #FFFFFF;
    display: block;
    margin: 0 auto;
    width: 1170px;
}

.logo {
    float: left;
    width: 250px;
}
content.container {
	clear: both;
}
.content-left .mission-first,
.content-right .schemes-first{
	float:left;
	color:#0F75BD;
	font-weight:bold;
}
.vision{
	overflow: hidden;
    padding-left: 10px;
}
.content-left{
    float: left;
    padding: 0 30px 0 0;
    width: 610px;
}
.content-right h1,
.content-left h1{
	font-size: 39px;
}
.sub-title{
    color: #1074BF;
    font-size: 18px;
    padding-bottom: 20px;
}
.mission-para{
	font-size: 14px;
	padding-bottom:20px;
	line-height: 19px;
}

.content-right{
    overflow: hidden;
    width: 500px;
	padding: 0 15px 0 12px;
}
.read-more a{
	 color: #3281C6;
	float:right;
	 text-decoration: none;
}
.more-to-watch{
	width:250px;
	padding-right: 15px;
}
.download-videos .expanded,
.more-to-watch .expanded{
   background: none repeat scroll 0 0 #0F75BF;
   padding: 6px 10px;
   margin-left: 10px;
}
.download-videos .expanded a,
.more-to-watch .expanded a{
	color:#FFF;
	font-weight: bold;
    text-decoration: none;
}
.download-videos {
	overflow: hidden;
	padding-top: 5px;
	 width: 250px;
 }
 .more-to-watch .sub-menu  li,
 .download-videos .sub-menu li{
 padding:5px;
}
.more-to-watch .sub-menu  li a,
.download-videos .sub-menu li a{
	color:#000;
	text-decoration: none;
 }
  .more-to-watch .sub-menu ,
 .download-videos .sub-menu {
 padding: 12px 15px 15px 12px;
}
 .download-videos .next,
  .more-to-watch  .next{
	float:right;
}
.watch-click{
  background: none repeat scroll 0 0 #C5C3C4;
    padding: 5px;
	overflow: hidden;
}
.prev-next{
    margin: 0 10px;
    padding: 6px 16px;
	  background: none repeat scroll 0 0 #C5C3C4;
}
.watch-click p,.watch-click a,
.prev-next a{
  color:#1075BD;
  font-weight:bold;
}
.video-link{
	border: 1px solid #1075BD;
	margin-bottom: 10px;
}
/*----FOOTER--------*/
footer.container {
	background: none repeat scroll 0 0 #5E5E5E;
	overflow: hidden;
}
footer ul.menu{
	float:left;
	color:#DCDCDC;
}
footer ul.menu li.menu{
	float:none;
}
footer .menu li a{
	color:#DCDCDC;
	padding:20px;
	text-decoration: none;
}
footer .menu li {
	padding:5px;
}
footer .menu li.expanded > a{
	color:#DCDCDC;
	font-weight:bold;
	font-size: 17px;
}
footer .menu-section{
    margin: 0 auto;
     width: 900px;
	overflow: hidden;
    padding: 30px 0 20px 0;
}
.sub-menu{
	padding-top:20px;
}
.sub-menu a{
	font-size: 14px;
}
.menu-first > .menu,.menu-second  .menu,.menu-third .menu{
 padding: 0 40px 0 0;
 }
.footer-bottom{
	background: none repeat scroll 0 0 #fff;
	overflow: hidden;
}
.more-to-watch,.video-link,.video-para,
.jkt-logo,.footer-para{
	float:left;
}
p.video-para{
	color: #000000;
}
.click-download{
	float:right;
}
.jk-logo{
	overflow: hidden;
	padding-top:10px;
	padding-left: 65px;
 }
.jkt-logo{
 	padding-top:19px;
}
.footer-para{
	padding:37px 20px 15px;
 }
.powered{
    color: #0F75BF;
    font-size: 15px;
    text-align: center;
	 padding-bottom: 30px;
}
.disclaimer{
    color: #444444;
    font-size: 14px;
}
.date-time-day{
    background: none repeat scroll 0 0 #0f75bf;
    color: #ffffff;
    float: left;
    padding: 3px;
    text-align: center;
    width: 600px;
}
.e-health-login{
    background: none repeat scroll 0 0 #0F75BF;
    overflow: hidden;
    padding: 26px 18px 21px 15px;
}
.e-health-login a{
    color: #ffffff;
    font-size: 15px;
}
.navbar-nav{
    float: left;
    overflow: hidden;
    width: 678px;
}
.navbar-nav li{
	float:left;
	padding: 0 3px;
}
.header-right-top{
    background: none repeat scroll 0 0 #3e3e3e;
    float: left;
    overflow: hidden;
}
.header-right-top a{
    color: #ffffff;
    display: block;
    font-weight: bold;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
	font-size: 15px;
}

.home-menu{
    background: url("../images/home-menu.jpg") no-repeat scroll 0 0 transparent;
    display: block;
    height: 34px;
    width: 107px;
	font-size: 0;
}
.page-menu{
    background: url("../images/my-page-menu.jpg") no-repeat scroll 0 0 transparent;
    display: block;
    height: 34px;
    width: 107px;
	font-size: 0;
}
.events-menu{
    background: url("../images/event-menu.jpg") no-repeat scroll 0 0 transparent;
    display: block;
    height: 34px;
    width: 107px;
	font-size: 0;
}
.faq-menu{
    background: url("../images/faqs.jpg") no-repeat scroll 0 0 transparent;
    display: block;
    height: 34px;
    width: 107px;
	font-size: 0;
}
.events-menu{
    background: url("../images/event-menu.jpg") no-repeat scroll 0 0 transparent;
    display: block;
    height: 34px;
    width: 107px;
	font-size: 0;
}
.faq-menu{
    background: url("../images/faqs.jpg") no-repeat scroll 0 0 transparent;
    display: block;
    height: 34px;
    width: 107px;
	font-size: 0;
}
.content-top-first,.content-top-second,.content-top-third{
	width:270px;
	float: left;
	margin-right: 20px;
}
.content-top-third ,
.content-top-first{
	background: -webkit-linear-gradient(#EBEBEB,#FDF9FA); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#EBEBEB, #FDF9FA); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#EBEBEB, #FDF9FA); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#EBEBEB, #FDF9FA); /* Standard syntax (must be last) */
    padding: 0px 10px;
    position: relative;
     width: 260px;
	 
}
.content-top-first{
	margin-left: 10px;
	padding-bottom:25px;
	position:relative;
}
.content-top-first input[type="submit"]{
float:left;
margin:0px!important;
clear:both;
background:#0f75bd;
border:none;
color:#fff;
text-transform:uppercase;
padding:6px;
position:absolute;
right:16px;
bottom:33px;

}
.content-top-first > div{
width:100%;
padding-top:25px;
}
.content-top-first label{
margin-top:9px!important;
display:block;
}
.district-select{
    font-size: 15px;
    font-weight: bold;
	padding: 10px 0;
}
.content-top-first select{
	height: 28px;
    width: 185px;
}
.content-top-third h1,
.content-top-first h1,
.content-top-first h2{
    background: none repeat scroll 0 0 #0f75bf;
    color: #ffffff;
    font-size: 20px;
    padding: 5px 18px;
    position: absolute;
    left: -10px;
    top: -26px;
}
.content-top-second{
	padding-top:15px!important;
}
.content-top-second img{
	float:left;
	margin:-9px 10px 0px 10px;
	max-width:50px;
}
.content-top-second h2{
	background:#ccc;
	font-size:14px;
	padding:5px 0px;
	margin:5px 0px;
}
.content-top-third a{
	text-decoration:none;
	color:#000;
}
.content-top-third p{
    font-size: 14px;
    padding: 10px;
}
.content-top-fourth a{
color:#000;
font-size:15px;
text-decoration:none;
display:block;
margin:10px 0px;
}
.content-top-fourth,
.content-top-second{
    background: none repeat scroll 0 0 #B2DDFD;
	padding: 15px;
	overflow: hidden;
	top: -26px;  
	background: -webkit-linear-gradient(#E6F4FF, #B8DFFC); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#E6F4FF, #B8DFFC); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#E6F4FF, #B8DFFC); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#E6F4FF, #B8DFFC); /* Standard syntax (must be last) */
}
.content-top .content-top-second{
	min-height: 221px;
    padding: 0 0 30px;
}
.content-top-second p{
	padding: 7px;
	font-size:15px;
}
.content-top{
	 margin-top: 30px;
	 position:relative;
	 margin-bottom: 50px;
}
.content-top-fifth{
    background: none repeat scroll 0 0 #e1e3e2;
    height: 200px;
    position: absolute;
    top: 25px;
    width: 1170px;
    z-index: 0;
}
.content-top-second, .content-top-first,.content-top-third,.content-top-fourth{
	position:relative;
	z-index:1;
	box-shadow: 1px 1px 1px #ccc;
	min-height: 187px;
}
.para-top{
  padding: 10px 0;
}
.para-top a{
	color: #0e76bd;
    font-weight: bold;
}
.event-image{
	float: left;
}
.content-top-fourth h3{
    float: left;
    padding-left: 20px;
    text-align: center;
    width: 142px;
	 font-size: 27px;
}
.content-top-fourth p{
clear:both;
}
.banner img{
	width: 1170px;
}
.content-top-fourth .date-month{
    background: none repeat scroll 0 0 #0f75bd;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
     padding: 10px;
    text-align: center;
}
.pulse{
    font-size: 17px;
    padding: 0 33px;
    text-align: center;
}
.search-bar{
    overflow: hidden;
    padding-left: 10px;
}
.go-class{
    background: none repeat scroll 0 0 #0f75bd;
    color: #fff;
    padding: 6px 15px;
    text-decoration: none;
}
.photo-health h2{
    background: none repeat scroll 0 0 #dbdbdd;
    color: #000;
    font-size: 14px;
    margin-top: 10px;
    overflow: hidden;
    padding: 6px 10px 7px 7px;
}
.photo-health img{
	float:left;
}
.photo-health{
	overflow:hidden;
}

.more-to-watch h2, .download-videos h2{
background: none repeat scroll 0 0 #0F75BF;
padding: 6px 10px;
color: #FFF;
font-weight: bold;
font-size:13px;
}
.more-to-watch .views-row, .download-videos .views-row{
	margin:6px 0px;
}
.download-videos{
margin-left:15px;
float:left;
}
.more-to-watch .views-row a, .download-videos .views-row a{
	color:#000;
	text-decoration:none;
	padding:3px 0px;
}
ul.pager{
	padding: 6px 0px;
background: none repeat scroll 0 0 #C5C3C4;
width:100%;
}
ul.pager li{
	display:inline-block;
	padding:0px 5px;
}
ul.pager li a{
color:#1075BD;
font-weight:bold;

}
ul.pager li.pager-next{
float:right;
}
ul.pager li.pager-previous{
float:left;
}
.video-link{
	width:600px;
}
.download-videos .view-content, .more-to-watch .view-content{
min-height:336px;
}
footer .menu-first,
footer .menu-second,
footer .menu-third,
footer .menu-fourth{
	float:left;
	margin:0px 50px;
}
footer .menu-first h2,
footer .menu-second h2,
footer .menu-third h2,
footer .menu-fourth h2{
padding:5px 0px!important;
	color: #DCDCDC;
font-weight: bold;
font-size: 17px;
	
}
footer a{
padding:5px 0px!important;
}
footer ul{
	padding:0px!important;
}
footer ul li{
padding-left:0px!important;
}

.date-time-hospital {
background: none repeat scroll 0 0 transparent;
color: #035797;
width: 650px;
padding-left: 13px;
font-weight: bold;
float: none;
text-align: left;
}
